.nb-person-form {
    .content-form {
        display: grid;
    }

    .content-data-left {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .content-data-right {
        grid-column-start: 4;
        grid-column-end: 4;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }


    .button {
        grid-column-start: 1;
        grid-column-end: 5;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }

    .button-back {
        margin-top: 5px;
        cursor: pointer;
    }
    
    .person-image {
        width: 14vw;
        height: 25vh;
        // border: 2px solid rgba(2, 5, 7, 0.089);
        border: 2px solid rgb(110 120 153 / 57%);
        display: flex;
        justify-content: center;
        border-radius: 2px;
        margin-top: 40px;
        margin-bottom: 5px;
    }
    
    .person-image svg {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // color: rgba(2, 5, 7, 0.411);
        color: #6e7899;
        width: 100px;
    }

    .person-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .content-data .input-group {
        width: 14vw;
    }

    .content-data .input-group .form-control {
        padding: 5px;
    }
}