.nb-person-form {


    .content-form {
        display: flex;
    }

    .content-data-left {
        width: 60vw;
        padding: 40px 0px 40px 0px;
    }

    .button {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .button button {
        width: 200px;
        height: 50px;
        font-size: 24px;
    }

    @media (max-width: 900px) {
        .content-area {
            overflow-y: auto;
        }
    }

    .button-back {
        margin-top: 10px;
        cursor: pointer;
    }

    .content-data-right {
        width: 20vw;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .person-image {
        width: 14vw;
        height: 25vh;
        background: rgba(2, 5, 7, 0.192);
        // background: url(https://firebasestorage.googleapis.com/v0/b/nimble-dcb73.appspot.com/o/brooklyn_nine_nine1.jpg_399056758.jpg?alt=media&token=7d192c2b-7c31-4937-8b1b-a5abfc7becb0);
        // border-radius: 50%;
    }

    .content-data .input-group {
        width: 14vw;
    }
}