.btn {
  margin: 0.3rem;
  font-size: 1.3rem;
  font-weight: 800;
  width: 10vw;
  height: 5vh;
  border-radius: 1vw;

  &.btn-nimble {
    color: #5b6582;
    background-color: transparent;
    border-color: #5b6582;

    &:hover {
      color: #f0f3ff;
      background-color: #5b6582;
      border-color: #5b6582;
    }
  }
}