nav.navbar {
  background: #242939;
  border-color: rgba(#6e7899, .3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .nav-link {
    color: #6e7899;

    i {
      border-color: #6e7899;
      background: #282f48;
    }

    &:hover {
      color: lighten(#6e7899, 15%);
    }
  }

  .nav-alert {
    border-color: #2f3546;

    &.notifications {
      background-color: #ff61c5;
      box-shadow: 0px 0px 4px #ff61c5;
    }

    &.messages {
      background-color: #61b8ff;
      box-shadow: 0px 0px 4px #61b8ff;
    }
  }
}
  
.navbar {
  height: 70px;
  padding: 0;
  border-bottom: 1px solid;

  .fixed-top {
    z-index: 0 !important;
  }

  .nav-alert {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    border: 3px solid #1c1e21;
    transform: translateX(13px);

    @media (min-width: 768px) {
      right: 20px;
      transform: translateX(0);
    }

    &.user-profile {
      transform: translateX(2px);
    }
  }

  .navbar-header {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .right-nav {
    border-top: 1px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: calc(100vh - #{60px} + 1px) !important;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        flex: 1 1 0;
        max-width: 110px;
        padding: 1rem;

        .nav-link {
          position: relative;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          .link-text {
            margin-top: 10px;
            font-size: .9rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .nav-link {
    padding: 0;

    i {
      font-size: 1.1rem;
      width: 40px;
      height: 40px;
      line-height: 40px;    
      border-radius: 0;
    }
  }

  @media (min-width: 768px) {
    .sidebar-toggler {
      display: none;
    }

    .navbar-header {
      width: 260px;
      margin-left: 0!important;
      .navbar-brand {
        img {
          width: 120px;
        }
      }
    }

    .left-nav {
      display: flex;
    }

    .nav-link {
      padding-left: .3rem;
      padding-right: .3rem;
    }

    .nav-alert {
      right: 12px;
    }

    .right-nav {
      height: 100% !important;
      border-top: none;
      background: none !important;

      ul {
        margin-left: auto;
        flex-wrap: nowrap;

        li {
          padding: 0;
          
          .nav-link {
            .link-text {
              display: none;
            }
          }
        }
      }
    }
  }
}