<div class="accounts">
    <div class="row">
        <div class="col-md-12">
            <app-nb-title title="Contas Bancárias"></app-nb-title>
        </div>
    </div>
    <div class="content">
        <div class="content-area">
            <div class="btn-new">
                <app-nb-button [label]="'Novo'" routerLink="/account-form"></app-nb-button>
            </div>
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="left">Nome</th>
                            <th class="left">Banco</th>
                            <th class="right">Limite</th>
                            <th class="center">Extrato</th>
                            <th class="center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of accountsList">
                            <td class="left">{{account.accountName}}</td>
                            <td class="left">{{account.bank}}</td>
                            <td class="right">{{account.limitValue | currency: 'R$'}}</td>
                            <td class="center icon">
                                <a routerLink="/account-extract/{{account.id}}">
                                    <i class="bi bi-file-text-fill"></i>
                                </a>
                            </td>
                            <td class="center icon">
                                <a routerLink="/account-form/edit/{{account.id}}"
                                   matTooltip="Editar"
                                   matTooltipPosition="right">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <!-- <a routerLink=""
                                   matTooltip="Excluir"
                                   matTooltipPosition="right">
                                    <i class="bi bi-trash"></i>
                                </a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-nb-pagination [totalPages]="totalPages" 
                                   (page)="getAccountListPagination($event)">
                </app-nb-pagination>
            </div>
        </div>
    </div>
</div>