<div class="account-form">
    <div class="row">
        <div class="col-md-6">
            <app-nb-title [title]="'Contas'"></app-nb-title>
        </div>
        <div class="col-md-6">
            <app-nb-button-return></app-nb-button-return>
        </div>
        <div class="content">
            <div class="content-area">
                <div class="row">
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Nome da conta'"
                                           [placeholder]="''"
                                           (ngModel)="reciveAccountName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Titular'"
                                           [placeholder]="''"
                                           (ngModel)="reciveHolder($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Documento do titular'"
                                           [placeholder]="''"
                                           (ngModel)="reciveHolderDocument($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-number [label]="'Limite'"
                                           [placeholder]="''"
                                           (ngModel)="reciveLimit($event)">
                        </app-nb-input-number>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Modalidade'"
                                           [placeholder]="''"
                                           (ngModel)="reciveModality($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Banco'"
                                           [placeholder]="''"
                                           (ngModel)="reciveBank($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Tipo'"
                                           [placeholder]="''"
                                           (ngModel)="reciveType($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-4">
                        <app-nb-input-text [label]="'Agência'"
                                           [placeholder]="''"
                                           (ngModel)="reciveAgency($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-2">
                        <app-nb-input-text [label]="'Dv'"
                                           [placeholder]="''"
                                           (ngModel)="reciveAgencyDv($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-4">
                        <app-nb-input-text [label]="'Conta'"
                                           [placeholder]="''"
                                           (ngModel)="reciveAccount($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-2">
                        <app-nb-input-text [label]="'Dv'"
                                           [placeholder]="''"
                                           (ngModel)="reciveAccountDv($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-number [label]="'Saldo inicial'"
                                           [placeholder]="''"
                                           (ngModel)="reciveBalance($event)">
                        </app-nb-input-number>
                    </div>
                </div>
                <div class="button">
                    <div class="form-group">
                        <app-nb-button [label]="'Salvar'"
                                       (click)="save()"></app-nb-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>