<div class="account-form">
    <div class="row">
        <div class="col-md-6">
            <app-nb-title [title]="'Contas'"></app-nb-title>
        </div>
        <div class="col-md-6">
            <app-nb-button-return></app-nb-button-return>
        </div>
        <div class="content">
            <div class="content-area">
                <div class="row">
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Nome da conta'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Titular'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Documento do titular'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Limite'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Modalidade'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Banco'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Tipo'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-5">
                        <app-nb-input-text [label]="'Agência'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-1">
                        <app-nb-input-text [label]="'D'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-5">
                        <app-nb-input-text [label]="'Conta'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-1">
                        <app-nb-input-text [label]="'D'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-nb-input-text [label]="'Saldo inicial'"
                                           [placeholder]="''"
                                           (ngModel)="reciveCategoryName($event)">
                        </app-nb-input-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>