<div class="extract-component">
    <app-nb-title [title]="'Extrato'"></app-nb-title>
    <div class="extract-area content-area">
        <div class="summary">
            <div class="summary-title" (click)="showSummary('balance')">
                Resumo
                <i [ngClass]="summary[0].show ? 'bi bi-caret-right-fill rotate' : 'bi bi-caret-right-fill'"></i>
            </div>
            <div class="summary-box" *ngIf="summary[0].show">
                <div class="box" *ngFor="let box of summary[0].item">
                    <div class="box-name">{{box.name}}</div>
                    <div [ngClass]="box.value < 0 ? 'box-value negative' : 'box-value positive'">{{box.value |  currency:'BRL':true:'1.2-2'}}</div>
                </div>
            </div>
        </div>
        <div class="summary">
            <div class="summary-title" (click)="showSummary('account')">
                Contas
                <i [ngClass]="summary[1].show ? 'bi bi-caret-right-fill rotate' : 'bi bi-caret-right-fill'"></i>
            </div>
            <div class="summary-box" *ngIf="summary[1].show">
                <div class="box" *ngFor="let box of summary[1].item">
                    <div [ngClass]="box.value < 0 ? 'box-value negative' : 'box-value positive'">
                        <img src="{{box.url}}" alt="">
                        {{box.value |  currency:'BRL':true:'1.2-2'}}
                    </div>
                </div>
            </div>
        </div>
        Extrato conta Itáu
        <div class="extract">
            <table class="table table-striped nimble-table">
                <thead>
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Histórico</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Saldo</th>
                  </tr>
                </thead>
                <tbody *ngFor="let entry of entries">
                  <tr>
                    <td>{{entry.date}}</td>
                    <td>{{entry.historic}}</td>
                    <td>{{entry.document}}</td>
                    <td>{{entry.value | currency: 'R$'}}</td>
                    <td>{{entry.balance | currency: 'R$'}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>