.extract-entries-component {
    .receive {
        color: rgba(0, 132, 255, 0.541);
        font-weight: 700;
    }

    .pay {
        color: rgba(255, 0, 0, 0.541);
        font-weight: 700;
    }
}