.extract-component {
    .extract-area {
        .summary {
            margin-bottom: 20px;
        }
    
        .summary i {
            position: absolute;
        }
    
        .summary-title {
            line-height: 30px;
            cursor: pointer;
        }
    
        .rotate {
            transform: rotate(90deg);
            transition: 0.2s ease;
        }  
    
        .summary-box {
            width: 100%;
            padding: 5px;
            display: flex;
    
            .box {
                height: 80px;
                width: 200px;
                padding: 10px;
                border: 1px solid #6c757d59;
                text-align: center;
                display: inline-flex;
                font-size: 80%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 3px;
                font-weight: 600;
            }
    
            .box-name {
                color: #242939b7;
                float: left;
            }
    
            .box-value {
            }
    
            .negative {
                color: #fe0000;
            }
    
            .positive {
                color: #03a555;
            }
    
            .box-value img {
                width: 50px;
                padding-right: 10px;
            }
        }
    }
}