<div class="extract-component">
    <div class="title">Extrato</div>
    <div class="summary">
        <div class="summary-title" (click)="showSummary('balance')">
            Resumo
            <i [ngClass]="summary[0].show ? 'bi bi-caret-right-fill rotate' : 'bi bi-caret-right-fill'"></i>
        </div>
        <div class="summary-box" *ngIf="summary[0].show">
            <div class="box" *ngFor="let box of summary[0].item">
                <div class="box-name">{{box.name}}</div>
                <div [ngClass]="box.value < 0 ? 'box-value negative' : 'box-value positive'">{{box.value |  currency:'BRL':true:'1.2-2'}}</div>
            </div>
        </div>
    </div>
    <div class="summary">
        <div class="summary-title" (click)="showSummary('account')">
            Contas
            <i [ngClass]="summary[1].show ? 'bi bi-caret-right-fill rotate' : 'bi bi-caret-right-fill'"></i>
        </div>
        <div class="summary-box" *ngIf="summary[1].show">
            <div class="box" *ngFor="let box of summary[1].item">
                <div [ngClass]="box.value < 0 ? 'box-value negative' : 'box-value positive'">
                    <img src="{{box.url}}" alt="">
                    {{box.value |  currency:'BRL':true:'1.2-2'}}
                </div>
            </div>
        </div>
    </div>
    Extrato conta Itáu
    <div class="extract">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Histórico</th>
                <th scope="col">Documento</th>
                <th scope="col">Valor</th>
                <th scope="col">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
              <tr>
                <th>20/09/2021</th>
                <td>Cheque</td>
                <td>Nº 1010</td>
                <td>R$ 5.000,00</td>
                <td>-R$ 10.000,00</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>