<div class="accounts">
    <div class="row">
        <div class="col-md-12">
            <app-nb-title title="Contas financeiras"></app-nb-title>
        </div>
    </div>
    <div class="content">
        <div class="content-area">
            <div class="btn-new">
                <app-nb-button [label]="'Novo'" routerLink="/account-form"></app-nb-button>
            </div>
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="left">Nome</th>
                            <th class="center">Banco</th>
                            <th class="left">Saldo</th>
                            <th class="left">Limite</th>
                            <th class="center">Extrato</th>
                            <th class="center">Editar</th>
                            <!-- <th class="center">Deletar</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of accountsList">
                            <td class="left">{{account.accountName}}</td>
                            <td class="left">{{account.bank}}</td>
                            <td class="left">{{account.balance}}</td>
                            <td class="left">{{account.limit}}</td>
                            <td class="center icon">
                                <a href="account-extract">
                                    <i class="bi bi-journal-text"></i>
                                </a>
                            </td>
                            <td class="center icon">
                                <a href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <!-- <td class="center icon">
                                <a href="#">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <app-nb-pagination  [totalPages]="3" (page)="2"></app-nb-pagination>
            </div>
        </div>
    </div>
</div>