<div class="last-board">
    <div [ngClass]="showInput == false ? 'new-column' : 'new-column-input'">
        <div  [ngClass]="showInput == false ? 'new-board' : 'new-board.active'">
            <a (click)="newList()">
                <div class="button-new-board">
                    Nova Lista
                </div>
            </a>
        </div>
        <div [ngClass]="showInput == true ? 'input-text' : 'hide-input'">
            <input type="text"
                placeholder="Insira o título da lista.."
                class="form-control"
                [ngModel]="nameList"
                (ngModelChange)="onChange($event)"
                (keyup.enter)="saveList()">
            <div class="new-list-bottom">
                <app-nb-button [label]="'Nova Lista'" (click)="saveList()" ></app-nb-button>
                <div class="close-input">
                    <a (click)="closeInputNewList()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>