<div class="frame" cdkDropListGroup>
    <div class="frame-title">
        {{ column.name }}
        <a (click)="deleteList(indexColumn)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
        </a>
    </div>
    <div class="dropzone"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="culumnDropList"
        [cdkDropListData]="column.cards"
        id="{{column.name}}" 
        cdkDropList>
        <div class="kanban-cards" *ngFor="let card of column.cards" (click)="openModal(card.name)" cdkDrag>
            <div class="cards">
                <div class="content">{{card.name}}</div>
                <div class="status red"></div>
                <app-modal id="{{card.name}}" [card]="card">
                    <app-modal-card></app-modal-card>
                    <button (click)="closeModal(card.name);">Close</button>
                </app-modal>
            </div>
        </div>
    </div>
    <div class="new-card">
        <a (click)="newCard(column)">
            <div class="button-new-card">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
                <div>Novo Card</div>
            </div>
        </a>
    </div>
</div>