.category-form-modal {
    .modal-form {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px #4c5fa0;
      width: 80vw;
      position: fixed;
      left: 50%;
      padding: 30px;
      top: 30%;
      transform: translate(-50%, -50%);
      z-index: 11;
    }
  
    .bnt-close {
      position: fixed;
      right: 0;
      top: 0;
      cursor: pointer;
      padding: 10px;
      color: rgb(166 175 202);
    }
    
    .bnt-close svg {
      width: 20px;
      height: 20px;
      margin: 4px;
      transition: 0.3s ease;
    }
  
    .bnt-close svg:hover {
      // transform: rotate(360deg);
      transition: 0.3s ease;
      color: #4c5fa0;
      margin: 0px;
      width: 28px;
      height: 28px;
    }
  
    .overlay {
      background: #000;
      height: 100vh;
      left: 0;
      opacity: 0.5;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 10;
    }
  
    .btn {
      background-color: #626b99;
      font-weight: 700;
      color: #fff ;
    }
  
    .btn:hover {
      background-color: #242939;
    }
  }