<div class="category-form-modal" *ngIf="show">
    <div class="modal-form">
        <div (click)="close()" class="bnt-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="sub-title">Baixar Título</span>
            </div>
            <br/>
            <div class="col-md-5">
                <div class="nb-select-object-component">
                    <div class="form-group">
                        <label class="input-label">Conta</label>
                        <select 
                            class="form-select form-control"  
                            [ngModel]="accountId"           
                            (ngModelChange)="reciveAccount($event)">
                            <option *ngFor="let account of accountList;" 
                                    [ngValue]="account">
                                {{account.accountName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <app-nb-input-date [label]="'Data'"
                                   [placeholder]="''"
                                   (ngModel)="recivePaidDate($event)">
                </app-nb-input-date>
            </div>

            <div class="col-md-2">
                <label class="input-label"></label>
                <div class="form-group">
                    <button type="button" class="btn form-control" (click)="save()">
                        Baixar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>