<div class="nb-person-document">
    <div class="row">
        <div class="col-md-12">
            <h4>Documentos</h4>
        </div>
    </div>
    <div class="row box">
        <div class="col-md-3">
            <label class="input-label">CPF ou CNPJ</label>
            <app-nb-input-cpfcnpj [placeholder]="''" [value]="document" [typePerson]="typePerson"></app-nb-input-cpfcnpj>
        </div>
        <div class="col-md-3">
            <label class="input-label">RG</label>
            <app-nb-input-text [placeholder]="''" [value]="entity?.rg"></app-nb-input-text>
        </div>
        <!-- <div class="col-md-3">
            <label class="input-label">IE</label>
            <app-nb-input-text [placeholder]="''" [value]="entity?.ie"></app-nb-input-text>
        </div> -->
        <div class="col-md-3">
            <label class="input-label">Data de Nascimento</label>
            <app-nb-input-date [placeholder]="'Ex.: 22/09/2021'" [value]="entity?.dateofbirthorfondation"></app-nb-input-date>
        </div>
        <!-- <div class="col-md-3">
            <label class="input-label">Data de Fundação</label>
            <app-nb-input-date [placeholder]="'Ex.: 22/09/2021'" [value]="entity?.dateofbirthorfondation"></app-nb-input-date>
        </div> -->
    </div>
            
</div>