.nb-person-document {
    h4 {
        font-weight: 600;
        color: #333333;
    }

    @media(max-width: 1024px) {
        margin-bottom: 10px;
        h4 {
            font-size: 17px;
        }
    }
}