.person-list-component {
    .board-list {
        width: 100vw;
        height: 100vh;
        padding: 30px;
        display: inline-flex;
        background-size: contain;
        color: #000 !important;
    }
    .content-area {
        background-color: #FFF;
        padding: 50px;
        z-index: auto;
        margin-left: 230px;
    }
    .content-title {
        margin-left: 80px;
        margin-top: 20px;
    }
    .new-person-button {
        float: right;
        margin-bottom: 10px;
        margin-right: 80px;
    }
    .table-data {
        width: 80vw;
        padding: 40px 80px 40px 80px;
    }
    .table .thead-dark {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
    }
    .icon-edit a {
        color: #343a40;
        text-align: center;
        cursor: pointer;
    }
    .icon-edit i {
        margin-left: 12px;
    }
    .page-item a {
        display: inline;
        cursor: pointer;
    }
    .page-link {
        border-radius: 50px !important;
        margin-left: 8px !important;
    }
    .pagination-item {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
        text-align: center;
        background: #343a40;
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
    }
    .pagination-item {
        color: #fff;
        font-weight: 400;
    }
    .pagination-item a:hover {
        text-decoration: none;
    }
    .pagination-arrow {
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }
    .pagination-arrow svg {
        color: #343a40;
        height: 20px;
        width: 50px;
    }
    .limite {
        display: none;
    }
}