<div class="person-list-component">
    <div class="row">
        <div class="col-md-6">
            <app-nb-title [title]="'Lista de ' + rule"></app-nb-title>
        </div>
    </div>
    <div class="content-list content-area">
        <div class="new-person-button">
            <app-nb-button [label]="'Novo'" routerLink="/person-form/{{rule}}" ></app-nb-button>
        </div>
        <div class="table-responsive-md">
            <table class="table nimble-table">
                <thead>
                    <tr>
                        <th scope="col" class="left">Name</th>
                        <!-- <th scope="col" class="left">Data de Nasc/Fund</th> -->
                        <th scope="col" class="center">Editar</th>
                        <th scope="col" class="center">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of listPerson">
                        <td class="align-items left">{{person.name}}</td>
                        <!-- <td>{{person.dateofbirthorfondation | date:"dd/MM/yyyy"}}</td> -->
                        <td class="icon center">
                            <a routerLink="/person-form/edit/{{person.id}}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td class="icon center">
                            <a (click)="deletePersonById(person.id)">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-nb-pagination [totalPages]="totalPages" (page)="getListPerson($event)"></app-nb-pagination>
    </div>
</div>