.person-list-component {
    .new-person-button {
        float: right;
        margin-bottom: 10px;
    }

    .icon-edit a {
        color: #343a40;
        text-align: center;
        cursor: pointer;
    }

    .icon-edit i {
        color: rgba(#3d4465, .9);
    }

    .page-item a {
        display: inline;
        cursor: pointer;
    }

    .page-link {
        border-radius: 50px !important;
        margin-left: 8px !important;
    }

    .table .thead-dark {
        text-align: center;
    } 

    .pagination-item {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
        text-align: center;
        background: #3d4465;
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
    }

    .pagination-item {
        color: #fff;
        font-weight: 400;
    }

    .pagination-item a:hover {
        text-decoration: none;
    }

    .pagination-arrow {
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }

    .pagination-arrow svg {
        color: #3d4465;
    }
    
    .limite {
        display: none;
    }
}