<div *ngIf="validated">
    <div>
        <app-side-bar></app-side-bar>
    </div>
    <div [ngClass]="showMenu == false ? 'base_content' : 'base_content active'">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="!validated"
     class="login">
    <div class="sidenav">
        <div class="login-main-text">
            <h2>Nimble<br> Login Page</h2>
            <p>Insira seu login e senha para acessar.</p>
        </div>
    </div>
    <div class="main">
        <div class="main-login">
            <div class="login-form">
                <form>
                    <div class="form-group">
                        <label>Usuário</label>
                        <input type="text"
                               class="form-control"
                               placeholder="User Name"
                               value="{{login}}"
                               (ngModel)="login">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               value="{{password}}"
                               (ngModel)="password">
                    </div>
                    <button type="submit"
                            class="btn btn-black" (click)="doLogin()">Login</button>
                    <button type="submit"
                            class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>