.app-component {
    .base_content {
        width: calc(100% -200px);
        height: 100%;
        left: 50px;
        position: relative;
        display: flex;
        transition: all 0.3s ease;
        left: 110px;
    }
    
    .base_content.active {
        left: 200px;
        position: none;
    }

    @media(max-width: 1024px) {
        .base_content {
            width: calc(100% -150px);
            left: 60px;
        }
        
        .base_content.active {
            left: 150px;
        }
    }
}