<div class="app-component">
  <app-navbar [showMenuIn]="showMenu" (showMenuOut)="reciveShowMenuOut($event)"></app-navbar>
  <main>
    <app-sidebar [showMenuIn]="showMenu"></app-sidebar>
    <div [ngClass]="showMenu ? 'page' : 'page hide'">
      <div class="board">
        <div class="content-area">
          <router-outlet></router-outlet>
          <!-- <hr> -->
          <!-- <app-footer></app-footer> -->
        </div>
      </div>
    </div>
    <!-- <div class="overlay"></div> -->
  </main>
</div>
  