$bg-color:#f2f3f8;
$navbar-bg-color : #242939;
$navbar-color:#6e7899;
$sidebar-bg-color:#fff;
$sidebar-color:#3d4465;
$sidebar-icon-color:#c4cff9;
$border-color: #f2f3f8;

.side-bar-component {
    .open-menu-btn {
        position: absolute;
        color: #fff;
        font-size: 20px;
        margin: 50px;
        cursor: pointer;
    }

    .close-menu-btn {
        position: absolute;
        color: #fff;
        font-size: 20px;
        right: 0;
        margin: 25px;
        cursor: pointer;
    }
    
    .side-bar {
        background: rbga(255, 255, 255, 0);
        backdrop-filter: blur(15px);
        width: 260px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        transition: 0.6s ease;
        transition-property: left;
        background-color: $navbar-bg-color;
    }
    
    .side-bar.active {
        left: 0;
    }

    .side-bar .menu {
        width: 100%;
        margin-top: 80px;
    }
    
    .side-bar .menu .item {
        position: relative;
        cursor: pointer;
    }
    
    .side-bar .menu .item a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        display: block;
        padding: 5px 30px;
        line-height: 60px;
    }
    
    .side-bar .menu .item a:hover {
        background: #8621F8;
        transition: 0.3s ease;
    }

    .side-bar .menu .item svg {
        margin-right: 15px;
        width: 16px;
    }

    .side-bar .menu .item a .dropdown {
        position: absolute;
        right: 0;
        margin: 20px;
        transition: 0.3s ease;
    }
    
    .side-bar .menu .item .sub-menu {
        background: rgba(255, 255, 255, 0.1);
        height: 0;
        transition: 0.5s ease;
        opacity: 0;
    }

    .side-bar .menu .item .sub-menu.active {
        height: 210px;
        opacity: 1;
    }
    
    .side-bar .menu .item .sub-menu a {
        padding-left: 50px;
    }

    .rotate {
        transform: rotate(90deg);
    }

    @media(max-width: 1024px) {
        .open-menu-btn {
            margin: 20px;
        }
    
        .close-menu-btn {
            margin: 10px;
        }

        .side-bar {
            width: 150px;
            font-size: 13px;
        }

        .side-bar .menu .item a {
            font-size: 12px;
            padding: 2px 20px;
            line-height: 50px;
        }

        .side-bar .menu .item svg {
            margin-right: 10px;
            width: 10px;
        }

        .side-bar .menu .item .sub-menu.active {
            height: 163px;
        }

    }
}