.main {
    height: 94vh;
    width: 85.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: url(https://firebasestorage.googleapis.com/v0/b/nimble-34cd9.appspot.com/o/plant-leaves-dark.jpg?alt=media&token=f10c1c9e-aa59-440e-aa22-c794b62b58eb)no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 30px;
    left: 30px;
}

.area {
    background: rbga(255, 255, 255, 0);
    backdrop-filter: blur(15px);
}

.title {
    background: #fff;
    text-align: center;
    font-size: 20px;
}

.main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 80px;
    text-align: center;
    line-height: 80px;
}

@media (max-width: 1000px) {
    .main h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .title {
        width: 1000px;
        height: 500px;
    }
}