.home-component {
    .main {
        height: 90vh;
        width: 85vw;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    
    .main-inside {
        height: 90vh;
        width: 85vw;
        margin-top: 2vh;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .area {
        background: rbga(255, 255, 255, 0);
        // backdrop-filter: blur(15px);
    }
    
    .title {
        background: #fff;
        text-align: center;
        font-size: 20px;
    }

    .main h1 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 80px;
        text-align: center;
        line-height: 80px;
    }
    
    @media (max-width: 1000px) {
        .main h1 {
            font-size: 40px;
            line-height: 60px;
        }
        .title {
            width: 1000px;
            height: 500px;
        }
    }
    
    .base_content {
        width: calc(100% -200px);
        height: 100%;
        left: 50px;
        position: relative;
        display: flex;
        transition: all 0.3s ease;
        left: 110px;
    }
    
    .base_content.active {
        left: 200px;
        position: none;
    }

    @media(max-width: 1024px) {
        .base_content {
            width: calc(100% -150px);
            left: 60px;
        }
        
        .base_content.active {
            left: 150px;
        }
    }
}