<!-- <section class="main">
    <div class="main-inside">
        <div class="area">
            <h1>Bem vindo ao Nimble</h1>
            <div class="title">Trabalho de conclusão de Curso 2021</div>
        </div>
    </div>
</section> -->

<div *ngIf="validated">
    <div>
        <app-side-bar (hideMenu)="reciveHideMenu($event)"></app-side-bar>
    </div>
    <div [ngClass]="showMenu == false ? 'base_content' : 'base_content active'">
        <div class="board">
            <div class="content-area">
                <div class="data">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
  