<div class="finance-history-component">
    <div class="row">
        <div class="col-md-6">
            <app-nb-title title="Contas a {{currentRoute}}"></app-nb-title>
        </div>
    </div>
    <div class="content-area">
        <div class="new-title-button">
            <app-nb-button [label]="'Novo'" routerLink="/finance-form/{{currentRoute}}"></app-nb-button>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th class="left"></th>
                        <th class="left">Doc.</th>
                        <th class="left">Fornecedor</th>
                        <th class="center">Parcela</th>
                        <th class="center">Vencimento</th>
                        <th class="right">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let title of titles">
                        <td class="left">
                            <input  class="form-check-input" 
                                    type="checkbox" 
                                    [value]="title.selected"
                                    (change)="title.selected = !title.selected">
                        </td>
                        <td class="left">{{title.docNumber}}</td>
                        <td class="left">{{title.person.name}}</td>
                        <td class="center">{{title.parcelNumber}}</td>
                        <td class="center">{{title.duoDate | date: "dd/MM/YYYY"}}</td>
                        <td class="right">{{title.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-nb-pagination [totalPages]="totalPages" (page)="getTitleList($event)"></app-nb-pagination>
        <div class="button">
            <div class="form-group">
                <app-nb-button [label]="'Baixar'"></app-nb-button>
            </div>
        </div>
    </div>
</div>