<div class="finance-history-component">
    <div class="row">
        <div class="col-md-6">
            <app-nb-title title="Contas a {{currentRoute}}"></app-nb-title>
        </div>
    </div>
    <div class="content-area">
        <div class="new-title-button">
            <app-nb-button [label]="'Novo'" routerLink="/finance-form/{{currentRoute}}" ></app-nb-button>
        </div>
        <table class="table nimble-table">
            <thead>
                <tr>
                    <th scope="col">Doc.</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Parcela</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let title of titles">
                    <td>{{title.docNumber}}</td>
                    <td>{{title.person.name}}</td>
                    <td>{{title.parcelNumber}}</td>
                    <td>{{title.duoDate | date: "dd/MM/YYYY"}}</td>
                    <td>{{title.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>