<div class="extract-entries-component">
    <div class="row">
        <div class="col-md-6">
            <app-nb-title title="Extrato"></app-nb-title>
        </div>
    </div>
    <div class="content-area">
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th class="left">Data</th>
                        <th class="left">Histórico</th>
                        <th class="right">Valor</th>
                        <th class="right">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left">202020</td>
                        <td class="left">asdsad</td>
                        <td class="right">20</td>
                        <td class="right">20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>