<div class="frame" cdkDropListGroup>
    <div class="frame-title">
        {{ listOfCards.name }}
        <a (click)="deleteList(listOfCards)">
            <i class="bi bi-trash-fill"></i>
        </a>
    </div>
    <div class="dropzone"
        (cdkDropListDropped)="drop($event, listOfCards)"
        [cdkDropListConnectedTo]="listDropCard"
        [cdkDropListData]="listOfCards.cardList"
        id="{{listOfCards.name}}" 
        cdkDropList>
        <div class="kanban-cards" *ngFor="let card of sortByIndex(listOfCards.cardList)" cdkDrag [cdkDragData]="card">
            <div class="cards" (click)="showCard(card)">
                <div class="content">#{{card.indexCard}} - {{card.title}}</div>
                <!-- <div class="content">#{{listOfCards.name}}</div> -->
                <div class="status red"></div>
            </div>
        </div>
    </div>
    <div class="new-card">
        <a (click)="newCard(listOfCards.indexList)">
            <div class="button-new-card">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
                <div>Novo Card</div>
            </div>
        </a>
    </div>
</div>