<div class="manage-person">
    <div class="row">
        <div class="col-md-12">
            <app-nb-title title="Cadastros"></app-nb-title>
        </div>
    </div>
    <div class="content">
        <div class="content-area">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="bi bi-person-lines-fill"></i>
                            </div>
                            <p class="card-category">Clientes</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="bi bi-building"></i>
                            </div>
                            <p class="card-category">Fornecedores</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="bi bi-person-workspace"></i>
                            </div>
                            <p class="card-category">Funcionários</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="left">Name</th>
                            <th class="center">Editar</th>
                            <th class="center">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of listPerson">
                            <td class="align-items left">{{person.name}}</td>
                            <td class="icon center">
                                <a routerLink="">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td class="icon center">
                                <a >
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-nb-pagination [totalPages]="0" (page)="3"></app-nb-pagination>
        </div>

    </div>
</div>
