.sidebar-component { 
    .sidebar {
        width: 260px;
        height: 100vh;
        top: 0;
        left: -100%;
        transition-property: left;
        position: fixed;
        overflow: hidden;
        transition: 0.2s ease;
        background: #fff;
        box-shadow: 7px 7px 2px rgb(91 101 130 / 10%);
    }
    
    .sidebar.active {
        left: 0;
    }

    .menu {
        margin-top: 80px;
    }
    
    .item {
        position: relative;
        cursor: pointer;
    }
    
    .item a {
        padding: 5px 10px;
        // line-height: 60px;
        font-size: 16px;
        display: block;
        text-decoration: none;
        color: #3d4465;
    }
    
    .item a:hover {
        transition: 0.2s ease;
        background: #6e78997a;
    }

    .item i {
        margin-right: 15px;
        width: 16px;
        color: #c4cff9;
    }

    a .dropdown {
        position: absolute;
        right: 0;
        transition: 0.2s ease;
    }
    
    .sub-menu {
        // background: #3d4465;
        display: none;
        transition: 0.2s ease;
    }

    .sub-menu.active {
        // height: 70px;
        display: block;
    }
    
    .sub-menu a {
        padding-left: 70px;
    }

    .rotate {
        transform: rotate(90deg);
    }
}