.sidebar-component { 
    .sidebar {
        width: 260px;
        height: 100vh;
        top: 0;
        left: -100%;
        transition-property: left;
        position: fixed;
        overflow: auto;
        transition: 0.2s ease;
        background: #f2f3f8;
        box-shadow: 1px 1px 2px rgba(#5b6582, .1);
    }
    
    .sidebar.active {
        left: 0;
    }

    .sidebar-image img{
        position: absolute;
        // z-index: 0;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        opacity: 0.2;
    }

    .menu {
        margin-top: 80px;
    }

    .sidebar-top {
        height: 70px;
        line-height: 70px;
        border-bottom: 2px solid #3d4465;
        display: flex;
        justify-content: space-between;
        background: #242939;
    }

    .logo {
        padding-left: 15px;
        img {
            width: 120px;
        }
    }

    .toggle {
        .nav-link {
            color: #6e7899;
            background: #282f48;
            display: inline-grid;
            padding: 15px;
        
            i {
                font-size: 20px;
                border-color: #6e7899;
                line-height: 20px;
                border-radius: 0;
            }
        
            &:hover {
              color: lighten(#6e7899, 15%);
            }
        }
    }

    .itens {
        border-right: 5px solid rgba(0,0,0,.08);
        height: calc(100vh - 70px);
    }
        
    .item {
        position: relative;
        cursor: pointer;
    }
    
    .item a {
        padding: 5px 20px;
        line-height: 40px;
        font-size: 16px;
        display: block;
        text-decoration: none;
        color: #3d4465;

        i {
            font-size: 20px;

        }
    }
    
    .item a:hover {
        transition: 0.2s ease;
        background-color: rgba(0,0,0,.08);

        i { }
    }

    .item i {
        margin-right: 3px;
    }

    a .dropdown {
        float: right;
        transition: 0.2s ease;
    }

    .sub-menu {
        display: none;
        transition: 0.2s ease;
    }

    .sub-menu.active {
        display: block;
        padding: 0px 20px;
    }
    
    .sub-menu a { }

    .rotate {
        transform: rotate(-90deg);
    }
}