<div class="nb-person-data">
    <div class="row">
        <div class="col-md-12">
            <h4>Dados pessoais</h4>
        </div>
    </div>
    <div class="row box">
        <div class="col-md-6" *ngIf="typePerson == 'pj'">
            <label class="input-label">Razão Social</label>
            <app-nb-input-text [placeholder]="'Ex.: Nimble Sistemas'" [value]="entity?.name" (ngModel)="reciveName($event)"></app-nb-input-text>
        </div>
        <div class="col-md-6" *ngIf="typePerson == 'pj'">
            <label class="input-label">Nome Fantasia</label>
            <app-nb-input-text [placeholder]="'Ex.: Nimble LTDA'" [value]="entity?.shortName" (ngModel)="reciveShortName($event)"></app-nb-input-text>
        </div>
        <div class="col-md-6" *ngIf="typePerson == 'pf'">
            <label class="input-label">Nome</label>
            <app-nb-input-text [placeholder]="'Ex.: Tiago Oliveira Barbosa'" [value]="entity?.name" (ngModel)="reciveName($event)"></app-nb-input-text>
        </div>
        <div class="col-md-3" *ngIf="typePerson == 'pf'">
            <label class="input-label">Gênero</label>
            <app-nb-input-text [placeholder]="'Ex.: Masculino'" [value]="entity?.gender" (ngModel)="reciveGender($event)"></app-nb-input-text>
        </div>
    </div>
    <div class="row box">
        <div class="col-md-6" *ngFor="let email of entity?.emails">
            <label class="input-label">Email</label>
            <app-nb-input-text [placeholder]="'Ex.: email@outlook.com'" [value]="email.email" (ngModel)="reciveEmail($event)"></app-nb-input-text>
        </div>
        <div class="col-md-3" *ngFor="let phone of entity?.phones">
            <label class="input-label">Telefone</label>
            <app-nb-input-phone [placeholder]="'Ex.: +55 (44) 95555-4444'" [value]="phone.phone" (ngModel)="recivePhone($event)"></app-nb-input-phone>
        </div>
        <div class="col-md-3" *ngFor="let phone of entity?.phones">
            <label class="input-label">Tipo</label>
            <app-nb-input-text [placeholder]="'Ex.: Celular'" [value]="phone.phoneType" (ngModel)="recivePhoneType($event)"></app-nb-input-text>
        </div>
    </div>
</div>