.nb-person-data {
    margin-bottom: 30px;
    h4 {
        font-weight: 600;
        color: #333333;
    }
    .box {
        margin-bottom: 10px;
    }

    @media(max-width: 1024px) {
        margin-bottom: 10px;
        h4 {
            font-size: 17px;
        }
    }
}