<div class="nb-person-location">
    <div class="row">
        <div class="col-md-12 sub-title">
            Endereços
        </div>
    </div>
    <div *ngFor="let address of entity?.addresses">
        <div class="row box">
            <div class="col-md-3">
                <app-nb-input-zipcode [label]="'CEP'" [placeholder]="'Ex.: 99999-999'" [value]="address?.zipCode" (ngModel)="reciveZipCode($event)"></app-nb-input-zipcode>
            </div>
            <div class="col-md-7">
                <app-nb-input-text [label]="'Logradouro'" [placeholder]="'Ex.: Av Tiradentes'" [value]="address?.premisse" (ngModel)="recivePremisse($event)"></app-nb-input-text>
            </div>
            <div class="col-md-2">
                <app-nb-input-text [label]="'Número'" [placeholder]="'Ex.: 778'" [value]="address?.number" (ngModel)="reciveNumber($event)"></app-nb-input-text>
            </div>
        </div>
        <div class="row box">
            <div class="col-md-7">
                <app-nb-input-text [label]="'Bairro'" [placeholder]="'Ex.: Zona 1'" [value]="address?.neighbourhood" (ngModel)="reciveNeighbourhood($event)"></app-nb-input-text>
            </div>
            <div class="col-md-3">
                <app-nb-input-text [label]="'Cidade'" [placeholder]="'Ex.: Maringá'" [value]="address?.location" (ngModel)="reciveLocation($event)"></app-nb-input-text>
            </div>
            <div class="col-md-2">
                <app-nb-input-text [label]="'Estado'" [placeholder]="'Ex.: Paraná'" [value]="address?.state" (ngModel)="reciveState($event)"></app-nb-input-text>
            </div>
        </div>
        <div class="row box">
            <div class="col-md-9">
                <app-nb-input-text [label]="'Complemento'" [placeholder]="'Ex.: Mercado X'" [value]="address?.information" (ngModel)="reciveInformation($event)"></app-nb-input-text>
            </div>
            <div class="col-md-3">
                <app-nb-input-text [label]="'País'" [placeholder]="'Ex.: Brasil'" [value]="address?.country" (ngModel)="reciveCountry($event)"></app-nb-input-text>
            </div>
        </div>
    </div>
</div>
