.modal-card {
    width: 50vw;
    height: auto;
    padding: 20px;
    background: antiquewhite;
    background-size: contain;
    margin-top: 50px;
    color: #000 !important;

    .title {
        font-size: 24px;
        font-weight: 800;

    }

    .title input {
        // box-shadow: 0 0 0 0;
        // border: 0 none;
        // outline: 0;
        width: auto;
    }

    input:focus, select:focus {
        // box-shadow: 0 0 0 0;
        // border: 0 none;
        // outline: 0;
    } 
}

.content-form {
    // width: 50vw;
    width: 80vw;
    display: flex;
}