<div class="modal-card">
    <div class="title">
        <!-- #{{card.reference}} - {{card.name}} -->
        <!-- # <input type="text" value="{{card.reference}}" [ngModel]="card.reference" maxlength="6" [size]="6"> 
        -  -->
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        <textarea type="text" value="{{card.name}}" [(ngModel)]="card.name" (ngModelChange)="modelChanged($event)" [rows]="row" cols="56" (keyup.enter)="saveCard()"></textarea>
    </div>
    <div>Na lista {{columnName}}</div>
    <div>
        Descrição
        <textarea name="" id="" cols="30" rows="10" placeholder="Adicione uma descrição"></textarea>
    </div>
    <div>
        Atividade
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>


      <!-- <input type="text" 
            class="form-list-item-name"           
            value="{{teste}}"
            [ngModel]="teste"
            [size]="teste.length">
      {{teste.length}} -->

      <!-- <div class="input-text">
        <input type="text"
            value="{{value}}"
            [ngModel]="value"
            [size]="size"
            (ngModelChange)="modelChanged($event)">
    </div> -->









    <!-- <div>{{$ctrl.card.title}}</div> -->
    <!-- <h1>DESCTIPTION</h1> -->
    <!-- <div>{{$ctrl.card.description}}</div> -->
    <div class="content-form">
        <div class="col-md-6">
            <label class="input-label">Nome</label>
            <!-- <nimble-input-text input-value="$ctrl.entity.name" placeholder="'Ex.: Tiago Oliveira Barbosa'"></nimble-input-text> -->
        </div>
        <div class="col-md-6">
            <label class="input-label">Nome</label>
            <!-- <nimble-input-text input-value="$ctrl.entity.name" placeholder="'Ex.: Tiago Oliveira Barbosa'"></nimble-input-text> -->
        </div>

    </div>
</div>