<div class="modal-card">
    <div class="title">
        <div class="title-card">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
            <textarea type="text" value="{{card.title}}" [(ngModel)]="card.title" (ngModelChange)="modelChanged($event)" [rows]="row" cols="56" (keyup.enter)="saveCard()"></textarea>
        </div>
        <div class="name-list-card">Na lista <a href="#">{{columnName.name}}</a></div>
    </div>
    <div class="description">
        <div class="description-title">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
            </svg>
            Descrição
        </div>
        <div class="description-textarea">
            <textarea type="text" value="{{card.title}}" [(ngModel)]="card.title" (ngModelChange)="modelChanged($event)" [rows]="row" cols="56" (keyup.enter)="saveCard()"  placeholder="Adicione uma descrição"></textarea>
            <div class="description-bnt" id="teste">
                <button type="button" class="btn btn-dark">Salvar</button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="activity-title">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
            Atividades
        </div>
        <div class="activity-textarea">
            <img src="https://firebasestorage.googleapis.com/v0/b/nimble-34cd9.appspot.com/o/EVXPfw7WAAIp8Sj.jpg?alt=media&token=10947a79-a012-4398-ae34-0beb1aa01f7d" alt="">
            <textarea type="text" value="{{card.title}}" [(ngModel)]="card.title" (ngModelChange)="modelChanged($event)" [rows]="row" cols="56" (keyup.enter)="saveCard()"  placeholder="Adicione uma descrição"></textarea>
        </div>
    </div>


      <!-- <input type="text" 
            class="form-list-item-name"           
            value="{{teste}}"
            [ngModel]="teste"
            [size]="teste.length">
      {{teste.length}} -->

      <!-- <div class="input-text">
        <input type="text"
            value="{{value}}"
            [ngModel]="value"
            [size]="size"
            (ngModelChange)="modelChanged($event)">
    </div> -->
</div>