.modal-card {
    width: 50vw;
    height: auto;
    padding: 20px;
    background: antiquewhite;
    background-size: contain;
    margin-top: 50px;
    color: #000 !important;

    .title {
        font-size: 24px;
        font-weight: 800;
        display: inline-flex;
    }

    .title textarea  {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        width: 100%;
        resize: none;
    }

    textarea:focus { 
        outline: none !important;
        border: 5px solid #000 !important;
        // box-shadow: 2px 2px 10px #000 !important;
    }
}

.content-form {
    // width: 50vw;
    width: 80vw;
    display: flex;
}