<div class="modal-card">
    <div class="title">
        <!-- #{{card.reference}} - {{card.name}} -->
        # <input type="text" value="{{card.reference}}" maxlength="6" size="25"> 
        - <input type="text" value="{{card.name}}">
    </div>


      <!-- <input type="text" 
            class="form-list-item-name"           
            value="{{teste}}"
            [ngModel]="teste"
            [size]="teste.length">
      {{teste.length}} -->

      <!-- <div class="input-text">
        <input type="text"
            value="{{value}}"
            ([ngModel])="value"
            [size]="value.length"
            (change)="onChange($event)">
    </div> -->









    <!-- <div>{{$ctrl.card.title}}</div> -->
    <!-- <h1>DESCTIPTION</h1> -->
    <!-- <div>{{$ctrl.card.description}}</div> -->
    <div class="content-form">
        <div class="col-md-6">
            <label class="input-label">Nome</label>
            <!-- <nimble-input-text input-value="$ctrl.entity.name" placeholder="'Ex.: Tiago Oliveira Barbosa'"></nimble-input-text> -->
        </div>
        <div class="col-md-6">
            <label class="input-label">Nome</label>
            <!-- <nimble-input-text input-value="$ctrl.entity.name" placeholder="'Ex.: Tiago Oliveira Barbosa'"></nimble-input-text> -->
        </div>

    </div>
</div>