<div class="finance-form-component">
    <app-nb-title title="Contas a Pagar"></app-nb-title>
    <div class="content-area">
        <div class="row">
            <div class="col-md-8">
                <app-nb-input-text [label]="'Nº do Documento'" [placeholder]="'Ex.: 15166354'"></app-nb-input-text>
            </div>
            <div class="col-md-4">
                <app-nb-input-date [label]="'Emissão'" [placeholder]="'Ex.: Fornecedor'"></app-nb-input-date>            
            </div>
            <div class="col-md-6">
                <app-nb-input-text [label]="'Fornecedor'" [placeholder]="'Ex.: Fornecedor'"></app-nb-input-text>
            </div>
            <div class="col-md-6">
                <app-nb-input-text [label]="'Categoria'" [placeholder]="'Ex.: Fornecedor'"></app-nb-input-text>        
            </div>
            <div class="col-md-4">
                <app-nb-input-number [label]="'Valor'"></app-nb-input-number>
            </div>  
            <div class="col-md-4">
                <app-nb-input-number [label]="'Qtd. parcelas'"></app-nb-input-number>
            </div>  
            <div class="col-md-4">
                <app-nb-input-date [label]="'Vencimento'"></app-nb-input-date>
            </div> 
            <div class="col-md-12">
                <app-nb-input-text [label]="'Histórico'" [placeholder]="'Histórico'"></app-nb-input-text>
            </div> 
          </div>
    </div>
</div>