.finance-form {
    .content {
        display: flex;
        align-content: flex-end;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .content-area {
        // height: auto;
    }

    .data {
        margin: 0 5px 0 0;
        transition: 0.2s ease;
    }

    .parcel-list {
        width: 35%;
        margin: 0 0 0 5px;
    }

    .button {
        justify-content: center;
        display: flex;
        margin-top: 3vh;

        .form-group {
            display: flex;
        }
    }

    .nimble-table thead, tbody {
        text-align: center;
    }

    @media only screen and (max-width: 1000px) {
        .content {
            flex-direction: column;
            align-content: space-around;
        }

        .content-area {
            height: auto;
        }

        .data {
            width: auto !important;
            margin-bottom: 3vh;
        }
    
        .parcel-list {
            width: auto;
            height: 30px;
        }
    }

    .sub-title {
        font-weight: 700;
        text-align: center;
        font-size: 23px;
        text-transform: uppercase;
        color: #3d4465;
    }
}