.finance-form {
    
    .content {
        display: flex;
        align-content: flex-end;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        // overflow: auto;
    }

    .content-area {
        height: auto;
    }

    .data {
        margin: 0 5px 0 0;
        transition: 0.2s ease;
    }

    .parcel-list {
        width: 35%;
        margin: 0 0 0 5px;
    }

    .button {
        // grid-column-start: 1;
        // grid-column-end: 5;
        justify-content: center;
        display: flex;
        // text-align: center;
        margin-top: 3vh;

        .form-group {
            display: flex;
            // justify-content: space-between;
            // max-width: 175px;
            // margin: 0 auto;
        }
    }

    @media only screen and (max-width: 1000px) {
        .content {
            flex-direction: column;
            align-content: space-around;
        }

        .data {
            width: auto;
            margin-bottom: 3vh;
        }
    
        .parcel-list {
            width: auto;
        }
    }
}