<div class="modal-component" *ngIf="mostrar">


    <div class="modallll">
      <div (click)="close()">
        <i class="bi bi-x-lg"></i>
      </div>


      <h1>{{card.title}}</h1>
      <!-- <nb-input-text [label]="'Nome'" [placeholder]="'Ex: Tiago Oliveira Barbosa'" [value]="'Tiago'" (ngModel)="reciveName($event)"></nb-input-text> -->
      <div>
        Lorem ipsum dolor sit amet,
          consectetur adipisicing elit.
          Aliquam, sunt.

      </div>
      </div>
      <div class="overlay"></div>
    <!-- <ng-content></ng-content> -->
</div>